<animated-canvas (reset)="reset($event)" (tick)="tick($event)"></animated-canvas>
<div style="padding: 0px 20px;">
  <span class='col-sm-2'>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isCentralGravityActive" (change)="centralGravityChanged($event)" />
      Central gravity
    </label>
  </span>
  <span class='col-sm-2'>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isFloorGravityActive" (change)="floorGravityChanged($event)" />
      Floor gravity
    </label>
  </span>
  <span class='col-sm-2'>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isBoudariesCheckActive" />
      Check boundaries
    </label>
  </span>
  <span class='col-sm-2'>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isCollisionHandling" />
      Handle collisions
    </label>
  </span>
  <span class='col-sm-2'>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isDrawingHighlights" />
      Draw highlights
    </label>
  </span>
</div>