<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Nature of code</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/gravity']">
                  <span class='glyphicon glyphicon-globe'></span> Gravity
                </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/angular-motion']">
                  <span class='glyphicon glyphicon-repeat'></span> Angular motion
                </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/spacecraft-navigation']">
                  <span class='glyphicon glyphicon-plane'></span> Spacecraft navigation
                </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/simple-wave']">
                  <span class='glyphicon glyphicon-random'></span> Simple wave
                </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/pendulum']">
                  <span class='glyphicon glyphicon-resize-horizontal'></span> Pendulum
                </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/particles']">
                  <span class='glyphicon glyphicon-asterisk'></span> Particles
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
